{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Estructura Metálica Santa Ana</title>

    <!-- ✅ Bootstrap CSS desde static -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- ✅ FontAwesome -->
    <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
  </head>


  <body>
    <!-- includes/navbar.html-->
    {% include 'includes/navbar.html' %}
    {% include 'includes/alerts.html' %}
    
    <!-- home.html-->
    {% block content %} {% endblock %}

    <!-- login.html-->
    {% block start %} {% endblock %}
    
    <!-- includes/footer.html-->
    {% include 'includes/footer.html' %}

    <!-- ✅ Bootstrap JS desde static -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    {% block extra_js %}{% endblock %}

  </body>



</html>
