{% load static %}

<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img
          src="{% static 'images/santaana-sf2.png' %}"
          width="190"
          height="140"
          class="img-fluid rounded-top"
          alt="santaana"
        />
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
      <li>
        <a  href="{% url 'galeria' as galery_url %}{{ galery_url }}" class="nav-link px-2 {% if request.path == galery_url %}text-primary{% else %}text-secondary{% endif %}"
          >Galería</a
        >
      </li>
      <li>
        <a href="{% url 'proforma' as proforma_url %}{{ proforma_url }}" class="nav-link px-2 {% if request.path == proforma_url %}text-primary{% else %}text-secondary{% endif %}">Proforma</a>
      </li>
      {% if user.is_authenticated and user.profile.rol == 'trabajador' %}
        <li>
          <a href="{% url 'dashboard_trabajador' as dashboard_url %}{{ dashboard_url }}" class="nav-link px-2 {% if request.path == dashboard_url %}text-primary{% else %}text-secondary{% endif %}">Dashboard</a>
        </li>
      {% elif user.is_authenticated and user.profile.rol == 'cliente' %}
        <li>
          <a href="{% url 'dashboard_cliente' as dashboard_url %}{{ dashboard_url }}" class="nav-link px-2 {% if request.path == dashboard_url %}text-primary{% else %}text-secondary{% endif %}">Dashboard</a>
        </li>
      {% endif %}

    </ul>

    <div class="col-md-3 text-end">
      {% if user.is_authenticated %}
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">
        <img src="{{ user.profile.profile_image.url|default:'/images/profile/user.png' }}"
          alt="Foto de perfil" 
          class="rounded-circle"
          style="width: 24px; height: 24px; object-fit: cover; margin-right: 4px;">
        <span>Hola, <em>{{ user.first_name }}</em></span>
      </a>
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none"
        href="{% url 'logout' %}"
        >Cerrar sesión
      </a>

      {% else %}
      <a class="btn btn-outline-primary me-2" href="{% url 'login' %}"
        >Iniciar sesión
      </a>
      <a class="btn btn-primary me-2" href="{% url 'register' %}"
        >Registrarse
      </a>
      {% endif %}
    </div>
  </header>
</div>