{% load static %}

<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <!--<svg
          class="bi"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>-->
        <img
          src="{% static 'images/santaana-sf2.png' %}"
          width="190"
          height="140"
          class="img-fluid rounded-top"
          alt="santaana"
        />
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
      <li>
        <a href="{% url 'galeria' %}" class="nav-link px-2 text-secondary"
          >Galería</a
        >
      </li>
      <li>
        <a href="{% url 'proforma' %}" class="nav-link px-2 text-secondary">Proforma</a>
      </li>

      {% if user.is_authenticated and user.profile.rol == 'trabajador' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-2 text-secondary" href="#" id="trabajadorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Analítica
          </a>
          <ul class="dropdown-menu" aria-labelledby="trabajadorDropdown">
            <li><a class="dropdown-item" href="{% url 'bandeja_trabajador' %}">Bandeja Proformas</a></li>
            <li><a class="dropdown-item" href="#">Estado Proformas</a></li>
            <li><a class="dropdown-item" href="#">Estado Contratos</a></li>
          </ul>
        </li>
      {% elif user.is_authenticated and user.profile.rol == 'cliente' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-2 text-secondary" href="#" id="clienteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="clienteDropdown">
            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'mis_proformas' %}">Mis Proformas</a></li>
            <li><a class="dropdown-item" href="#">Mis Contratos</a></li>
          </ul>
        </li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
      {% if user.is_authenticated %}
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"
        >Hola, <em>{{ user.first_name }}</em>
      </a>
      <a
        class="me-3 py-2 link-body-emphasis text-decoration-none"
        href="{% url 'logout' %}"
        >Cerrar sesión
      </a>

      {% else %}
      <a class="btn btn-outline-primary me-2" href="{% url 'login' %}"
        >Iniciar sesión
      </a>
      <a class="btn btn-primary me-2" href="{% url 'register' %}"
        >Registrarse
      </a>
      {% endif %}
    </div>
  </header>
</div>
