{% extends "home/base.html"%} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Barra lateral -->
    <div class="col-md-3 bg-light p-3">
      <h5 class="mb-3">Tipos de Puertas</h5>
      <ul class="list-group">
        {% for tipo in tipos %}
        <a
          href="{% url 'galeria' %}?tipo={{ tipo.uid }}"
          class="list-group-item {% if tipo.uid|stringformat:"s" == tipo_seleccionado|stringformat:"s" %}active bg-primary text-white{% endif %}"
        >
          {{ tipo.tipo_name }}
        </a>
        {% endfor %}
      </ul>
    </div>

    <!-- Productos -->
    <div class="col-md-9 p-3">
      <h4>Modelos disponibles</h4>
      <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            {% if producto.product_images.first %}
            <img
              src="{{ producto.product_images.first.image.url }}"
              class="card-img-top img-fluid"
              style="max-height: 250px; object-fit: contain"
              alt="Imagen del producto"
            />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ producto.product_name }}</h5>
              <p class="card-text">{{ producto.description }}</p>
              <a href="#" class="btn btn-primary">Cotizar</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles para este tipo.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
